<h1>Organization</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
<h1>Highly recommended.</h1>

Primarily through word-of-mouth alone, Basecamp has become the world’s #1 project management tool. For the last 10 years, companies have been switching to Basecamp because it’s famously easy-to-use, reliable, and It Just Works™. Combine that with our best-in-the-biz customer service, and you’ve got a unique and delightful package. Just last week, another 5,119 companies started using Basecamp.

<h1>A track record you can trust.</h1>

We’ve been in business for 15 years, so you can depend on us to be here when you need us. We’re profitable, debt-free, and privately owned so we answer to our customers and no one else. Our job is to help you do your job better. Learn more about our company.
</p>